* {
  background-color: #e3f9d9;
  text-align: center;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
}

.pokemonFight{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 700px;
}

#pokemon1 img {
  height: 200%;
  width: 200%;
}

#pokemon2 img {
  height: 150%;
  width: 150%;
}

#pokemon1 {
  align-self: end;
}

#pokemon2 {
  align-self: start;
}



.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
